
/* post content */
.post-container {
    max-width: 80%;
    padding: 20px;
    margin: auto;
    background-color: white; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

/* Styling for the post title */
.post-title {
    text-align: center;
    color: #333; /* Dark grey */
    font-size: 28px;
    margin-bottom: 10px; /* Space between the title and the date */
}

/* Styling for the post date */
.post-date {
    text-align: center;
    color: #666; /* Lighter grey */
    margin-bottom: 20px; /* Space between the date and the content */
}

/* Styling for the post content */
.post-content {
    text-align: justify; 
    line-height: 1.6; 
}

.entries {
    text-align: center; /* Center the "Entries" title */
}

.entries-title {
    color: #333;
    margin-bottom: 20px; /* Space below the "Entries" title */
}

.entry {
    margin-bottom: 15px; /* Space between entries */
}
ul, ol {
    list-style-type: none; /* removes styles */
    padding-left: 0; 
}

.new-entry-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}