
.post-container {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}


.post-title {
    text-align: center;
    color: #333; 
    font-size: 28px; 
    margin-bottom: 10px; 
}

.post-underline {
    width: 100px;
    height: 3px;
    background-color: #007bff; 
    margin: auto; 
    margin-bottom: 20px; 
}

.date-and-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc; 
    padding: 10px 0;
    margin-bottom: 20px; 
}


.post-date {
    text-align: left;
    color: #666; 
    margin-bottom: 0;
    flex-grow: 1; 
}


.post-content {
    text-align: justify; 
    line-height: 1.6; 
}


.entries {
    text-align: center; 
}


.entries-title {
    color: #333;
    margin-bottom: 20px; 
}


.entry {
    margin-bottom: 15px; 
}

ul, ol {
    list-style-type: none;
    padding-left: 0; 
}


.edit-entry-btn {
    margin-left: 10px;
     color: blue;
    cursor: pointer; 
    white-space: nowrap;
}
.edit-entry-btn:hover {
    color: rgb(255, 0, 34);
    text-decoration: none; 
}
.new-entry-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

/* Media queries */
@media (max-width: 768px) {
    .post-container {
        max-width: 95%; 
        padding: 10px; 
    }
    .post-title, .post-date, .entries-title {
        text-align: left; 
    }
}