
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* font */
}

/* Style the navbar */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* This vertically centers the content */
    width: 100%;
    background-color: #007bff; /* primary color */
    color: white;
    padding: 10px 0;
    margin-bottom: 30px;
}

/* Style for the navbar*/
.navbar-content, .auth-links {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.navbar a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Log out btn */
.logout-button {
    background-color: #ffffff; 
    color: #007bff; 
    border: none; 
    padding: 0 30px; 
    font-family: Arial, sans-serif; 
    cursor: pointer;
    border-radius: 5px; 
    margin-left: 30px;
}

.logout-button:hover {
    color: #51c1f5; 
    text-decoration: none; 
}

/* Style the footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2; /* Light grey background */
    color: black;
    text-align: center;
    padding: 10px 0;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px; 
}
