<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Blog App{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'blog_app/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'blog_app/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog_app/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'blog_app/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog_app/css/new_post.css' %}">
    <link rel="stylesheet" href="{% static 'blog_app/css/new_entry.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-content">
            <a class="navbar-brand" href="{% url 'blog_app:index' %}">Home</a> -
            <a href="{% url 'blog_app:posts' %}">Posts</a>
            <!-- Your other links -->
        </div>
        <div class="auth-links">
            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <form action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:register' %}">Register</a>
                <a href="{% url 'accounts:login' %}">Log in</a>
            {% endif %}
        </div>
    </nav>

    <!-- The main content block where child templates will insert their content -->
    {% block content %}
    {% endblock content %}
    
    <footer>
        <p>&copy; 2024 Blog App</p>
    </footer>
</body>
</html>