{% extends 'blog_app/base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="post-container">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="post-underline"></div>
    <div class="entries">
        <ul>
            {% for entry in entries %}
              <li class="date">
                <div class="date-and-edit">
                <p class="post-date">{{ entry.date_added|date:"M d, Y H:i" }}<a class="edit-entry-btn" href="{% url 'blog_app:edit_entry' entry.id %}">Edit entry</a></p>
                </div>
                <div class="post-content">{{ entry.text|linebreaks }}</div>
                
              </li>
            {% empty %}
              <li>No entries yet.</li>
            {% endfor %}
        </ul>
        
        <a class="new-entry-btn" href="{% url 'blog_app:new_entry' post.id %}" >Add a new entry</a>
    </div>
</div>
{% endblock content %}
