html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    font-family: Arial, sans-serif; 
}

/* Style the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #007bff; 
    color: white;
    padding: 10px 0;
}

.navbar-content, .auth-links {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.navbar a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Log out button */
.logout-button {
    background-color: #ffffff;
    color: #007bff;
    border: none;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
}

.logout-button:hover {
    color: #51c1f5;
    text-decoration: none;
}

/* Style the footer */
footer {
    position: relative; 
    width: 100%;
    background-color: #f2f2f2; 
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; 
}

